@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #96001B;
    --font-color: #FFFFFF;
    --contrast-font-color: #080808;
}

section.page {
    position: relative;

    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: #1C0021;
}

@supports (-webkit-touch-callout: none) {
    section.page {
        min-height: -webkit-fill-available;
    }
  }

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, button, span, ul, li, a, input, textarea {
    font-family: 'Syne', sans-serif;
    color: var(--font-color);
}